$cellNumberCardHeight: 24px;
$cardSize: 100px;

.CellsControlProducts {
  .rowContentClassName {
    background-color: var(--bg-main-secondary);
  }

  .cellNumberCard {
    min-width: $cardSize;
    width: 100%;
    height: $cellNumberCardHeight;
    border-radius: var(--control-radius-round-s) var(--control-radius-round-s) 0  0;
    box-sizing: border-box;
    padding: var(--space-3xs) var(--space-xs);

    background: var(--bg-status-system);
  }

  .mainPartCard {
    min-width: $cardSize;
    width: 100%;
    height: $cardSize;
    border-radius: 0 0 var(--control-radius-m) var(--control-radius-m);
    border-right: 1px solid var(--bg-main-quaternary);
    border-left: 1px solid var(--bg-main-quaternary);
    border-bottom: 1px solid var(--bg-main-quaternary);
    padding: 0;

    background: var(--bg-main-brand);

    .img {
      min-width: $cardSize;
      max-width: 100%;
      height: $cardSize;
      border-radius: 0 0 calc(var(--control-radius-m) - 1px) calc(var(--control-radius-m) - 1px);

      overflow: hidden;
    }
  }

  .productNameText {
    min-width: $cardSize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
}